@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Maal</h1>
    <p><em>Marriage card game points calculator</em></p>
    <div>
        <label>Current game:</label>
        @Html.DisplayFor(x => x.CurrentGame.Name)
    </div>
    <div class="row">
        <div class="col">
            <form asp-page-handler="continue" method="post">
                <button class="btn btn-dark no-wrap">New round</button>
            </form>
        </div>
        <div class="col">
            <form asp-page-handler="new" method="post">
                <button class="btn btn-dark no-wrap">New game</button>
            </form>
        </div>
        <div class="col">
            <form asp-page-handler="view" method="post">
                <button class="btn btn-dark no-wrap">View</button>
            </form>
        </div>
    </div>
</div>
